---
import type { HTMLAttributes } from "astro/types";

import { cn } from "../../lib/utils";

interface Props extends HTMLAttributes<"div"> {}

const { class: className } = Astro.props;
---

<div class={cn("grid md:grid-cols-[1fr,1.5fr] md:gap-0 gap-4", className)}>
  <slot />
</div>
