---
import type { HTMLAttributes } from "astro/types";

import { cn } from "../../lib/utils";

interface Props extends HTMLAttributes<"div"> {}
---

<section
  {...Astro.props}
  class={cn(
    "border-t border-t-zinc-200 dark:border-t-zinc-800 mt-16 pt-4",
    Astro.props.class
  )}
>
  <slot />
</section>
