---
import { cn } from "../../lib/utils";

interface Props extends astroHTML.JSX.HTMLAttributes {}

const { class: className, ...rest } = Astro.props;
---

<section
  class={cn(
    "border-t border-t-zinc-200 dark:border-t-zinc-800 mt-16 pt-4",
    className
  )}
  {...rest}
>
  <slot />
</section>
