---
import { cn } from "../../lib/utils";

interface Props {
  rating: 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10;
}

const { rating } = Astro.props;
---

<div class="flex items-center gap-2">
  {
    new Array(10)
      .fill(0)
      .map((_, index) => (
        <div
          class={cn(
            "w-2 h-2 rounded-full bg-zinc-50",
            index + 1 > rating && "bg-zinc-700"
          )}
        />
      ))
  }
</div>
