---
import { GithubIcon, LinkedinIcon, TwitterIcon } from "../ui/icons";
---

<ol class="flex items-center gap-x-4">
  <li>
    <a
      href="https://github.com/donnes"
      class="hover:text-black dark:hover:text-white transition-colors"
      target="_blank"
    >
      <GithubIcon />
    </a>
  </li>
  <li>
    <a
      href="https://x.com/donaldsilveira"
      class="hover:text-black dark:hover:text-white transition-colors"
      target="_blank"
    >
      <TwitterIcon />
    </a>
  </li>
  <li>
    <a
      href="https://linkedin.com/in/donaldsilveira"
      class="hover:text-zinc-950 dark:hover:text-zinc-50 transition-colors"
      target="_blank"
    >
      <LinkedinIcon />
    </a>
  </li>
  <slot />
</ol>
