---
import { GithubIcon, TwitterIcon } from "../ui/icons";
---

<ol class="flex items-center gap-4 flex-wrap">
  <li>
    <a
      href="https://github.com/donnes"
      class="hover:text-black dark:hover:text-white transition-colors"
      target="_blank"
      itemprop="sameAs"
    >
      <GithubIcon />
    </a>
  </li>
  <li>
    <a
      href="https://x.com/donaldsilveira"
      class="hover:text-black dark:hover:text-white transition-colors"
      target="_blank"
      itemprop="sameAs"
    >
      <TwitterIcon />
    </a>
  </li>
  <slot />
</ol>
