@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

#__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: none;
}

.mask-hero-video {
  mask-image: linear-gradient(180deg, #ffffff 70%, transparent);
}
.mask-hero-grid {
  mask-image: radial-gradient(
    ellipse 90% 90% at 90% 50%,
    black 0%,
    transparent 80%
  );
}

@layer base {
  nav.scroll {
    @apply bg-zinc-50 bg-opacity-10 backdrop-blur dark:border-zinc-50 dark:border-opacity-10 dark:bg-indigo-900 dark:bg-opacity-10;
  }

  .project-markdown h2 {
    @apply mt-4 mb-2 text-xl font-semibold dark:text-white;
  }

  .project-markdown ul {
    @apply list-inside list-disc;
  }

  .project-markdown ul > li {
    @apply mb-2;
  }

  .project-markdown p,
  .project-markdown ul > li {
    @apply text-base dark:text-indigo-300;
  }

  .post-markdown h2 {
    @apply text-2xl font-bold dark:text-white;
  }

  .post-markdown h3 {
    @apply text-lg font-semibold dark:text-white;
  }

  .post-markdown p {
    @apply py-2 text-base dark:text-white;
  }

  .post-markdown a {
    @apply hover:underline dark:text-indigo-300;
  }
}

@layer components {
  .section-title {
    @apply text-center text-5xl font-semibold dark:text-zinc-50 sm:text-6xl md:text-6xl;
  }

  .section-subtitle {
    @apply mt-6 text-center text-2xl text-indigo-300;
  }
}
