---
interface Props {
  title?: string;
  description?: string;
  image?: string;
}

import ThemeButton from "../components/composed/theme-button.astro";
import Footer from "../components/footer.astro";
import Head from "../components/head.astro";

const {
  title = "Donald Silveira",
  description = "I'm a Full-Stack & Mobile Engineer based in Porto Alegre, Brazil.",
  image,
} = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <Head title={title} description={description} image={image} />
  </head>
  <body>
    <div class="blur" aria-hidden="true"></div>
    <ThemeButton />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
