---
import { cn } from "../../lib/utils";

interface Props extends astroHTML.JSX.HTMLAttributes {}

const { class: className } = Astro.props;
---

<span
  class={cn(
    "inline-flex w-fit items-center justify-center rounded-full px-2 py-1 text-xs font-semibold border border-zinc-200 bg-zinc-100 dark:border-zinc-800 dark:bg-zinc-900",
    className
  )}
>
  <slot />
</span>
