---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../../lib/utils";

interface Props extends HTMLAttributes<"a"> {
  href: string;
  showArrow?: boolean;
}

const { href, class: className, showArrow = true, ...rest } = Astro.props;
---

<a
  href={href}
  class={cn(
    "group text-zinc-800 dark:text-zinc-400 inline-flex items-center",
    className
  )}
  {...rest}
>
  <span
    class="underline underline-offset-[6px] decoration-zinc-500 group-hover:decoration-zinc-900 dark:decoration-zinc-400 group-hover:dark:decoration-zinc-100 transition-colors"
  >
    <slot />
  </span>
  {
    showArrow && (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="w-4 h-4"
      >
        <path d="M7 7h10v10" />
        <path d="M7 17 17 7" />
      </svg>
    )
  }
</a>
